name: Release
on:
  release:
    types: [ created ]

permissions:
  contents: write

jobs:
  build-linux:
    name: Build Linux All
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: |
          make -B BUILD_NUMBER="${GITHUB_REF#refs/tags/v}" release-linux
          mkdir release
          mv build/*.tar.gz release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-latest
          path: release

  release:
    name: Create and Upload Release
    needs: [ build-linux ]
    runs-on: ubuntu-latest
    steps:
      - name: Download Linux artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-latest
          path: linux-latest

      - name: Create sha256sum
        run: |
          for dir in linux-latest
          do
            (
              cd $dir
              if [ "$dir" = windows-latest ]
              then
                sha256sum <nebula.exe | sed 's=-$=nebula-windows-amd64.zip/nebula.exe='
                sha256sum <nebula-cert.exe | sed 's=-$=nebula-windows-amd64.zip/nebula-cert.exe='
                sha256sum nebula-windows-amd64.zip
              else
                  for v in *.tar.gz
                  do
                    sha256sum $v
                    tar zxf $v --to-command='sh -c "sha256sum | sed s=-$='$v'/$TAR_FILENAME="'
                  done
              fi
            )
          done | sort -k 2 >SHASUM256.txt

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./linux-latest/**.tar.gz
            SHASUM256.txt
          fail_on_unmatched_files: true
