name: Build and test
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - '**Makefile'
      - '**.go'
      - '**.proto'
      - 'go.mod'
      - 'go.sum'
jobs:

  test-linux:
    name: Build all and test on ubuntu-linux
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go1.25-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go1.25-

      - name: Checking go mod tidy
        run: |
          go mod tidy -diff

      - name: Build
        run: make all -B

      - name: Test
        run: make test

      - name: Check for uncommitted changes
        run: |
          err_msg="Changes found!!! Run 'make all -B' and commit changes"
          git -c color.ui=always diff --exit-code || (>&2 echo "${err_msg}" && exit 1)
